.generalOrganize {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

.profileOrganize {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 450px;
}

p {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.iconOrganize {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 24px;
}

.box {
  width: 200px;
}

.icon {
  width: 30px;
  height: 100%;
  color: black;
}

.ironLogo {
  width: 50px;
  height: auto;
}

.profiles1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-bottom: 1px lightgray solid;
  width: 100vw;
  height: 380px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.profiles2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: white;
  padding: 20px;
  width: 100vw;
  height: 200px;
  margin-bottom: 20px;
}

.text {
  font-size: 22px;
  padding: 20px;
  text-align: center;
}

.tech {
  padding: 10px;
}
